{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{{title}} {% endblock %}
    </title>
    {% block style %}
    <link rel="stylesheet" href="{{css/login.css}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}">
    {% endblock %}
</head>

<body>
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}
    {% with messages = get_flashed_messages %}
    {% if messages %}
    {% for message in message %}
    <span>
        {{message}}
    </span>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}

</body>

</html>